Adam Heath <doogie@debian.org>
Alexandr Savca <alexandr.savca89@gmail.com>
Andreas Påhlsson <andreas.pahlsson@xcerion.com>
Ben Collins <bcollins@debian.org>
Carsten Hey <carsten@debian.org>
Chris Coulson <chrisccoulson@googlemail.com>
Christos Trochalakis <yatiohi@ideopolis.gr>
Erast Benson <erast@gnusolaris.org>
Fredrik Rinnestam <fredrik@crux.nu>
Guillem Jover <guillem@debian.org>
Justin Pryzby <jpryzby+d@quoininc.com>
Klee Dienes <klee@mit.edu>
Nicolas Francois <nekral-guest@users.alioth.debian.org>
Raphael Hertzog <hertzog@debian.org>
Samuel Thibault <samuel.thibault@ens-lyon.org>
Scott James Remnant <keybuk@debian.org>
Scott James Remnant <scott@netsplit.com>
Steffen Nurpmeso <steffen@sdaoden.eu>
Sven Joachim <svenjoac@gmx.de>
Trek <trek00@inbox.ru>
Wichert Akkerman <wakkerma@debian.org>
